<header class="header">
  <div class="container">
    <div class="header-left">
      <span class="header-item">
        <%= link_to(maps_path(@tile.map.code), class: 'header-item') do %>
          <span class="icon">
            <i class="fa fa-arrow-left is-primary"></i>
          </span>
        <% end %>
      </span>
    </div>
    <div class="header-center">
      <%= link_to 'Hexcrawl', root_path, class: 'header-item' %>
    </div>
    <div class="header-right">
      <span class="header-item">
        <%= link_to "#{@tile.map.code}", maps_path(@tile.map.code) %>
      </span>
    </div>
</header>
<div class="section">
  <div class="columns">
    <h1 class="column title">Tile: <%= @tile.coords_string %></h1>
    <div class="reroll column is-quarter">
      <%= button_to reroll_tile_path(@tile), class: 'button' do -%>
        <i class="fa fa-rotate-left"></i> Reroll Tile
      <% end -%>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= image_tag @tile.tile_icon, size: "100x100" %>
    </div>
  </div>

  <table class="table is-striped tile-data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Reroll</th>
      </tr>
    </thead>
    <tbody>
      <% @tile.data.each do |k, v| -%>
        <tr>
          <td><%= k.humanize %></td>
          <td><%= v.humanize %></td>
          <td>
            <%= button_to reroll_tile_path(@tile, node: k), class: 'button' do -%>
              <i class="fa fa-rotate-left"></i>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <p class="control">
    <%= form_for @tile, method: 'patch' do |f| %>
      <%= f.text_area :notes, class: 'textarea', placeholder: 'Notes' %>
      <%= f.submit 'Save Notes', class: 'button' %>
    <% end %>
  </p>
</div>
