<header class="header">
  <div class="container">
    <div class="header-left">
      <span class="header-item">
        <%= link_to 'Start Over', root_path, class: 'header-item' %>
      </span>
    </div>
    <div class="header-center">
      <%= link_to 'Hexcrawl', root_path, class: 'header-item' %>
    </div>
    <div class="header-right">
      <span class="header-item">
        <%= link_to "#{@code}", maps_path(@code) %>
      </span>
    </div>
</header>
<div class="map">
  <div class="tile-container">
    <% @map.tiles.each do |t| %>
      <%= link_to(tiles_path(id: t.id, code: @map.code)) do %>
        <div class="tile">
          <% if t.revealed -%>
            <%= image_tag t.tile_icon %>
          <% else -%>
            <%= image_tag 'tile-icons/help.svg' %>
          <% end -%>
          <div class="tile-coordinates">
            <%= t.coords_string %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
